/* Navbar */
.student-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
}

.student-header {
  width: 100%;
  background-color: #162f65;
  box-sizing: border-box;
  overflow: hidden;
}

/* Navbar Left Section */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  width: 35px;
  height: auto;
  border-radius: 50px;  /* Changed to Square */
  margin-right: 5px;
  margin-left: 0px;
  margin-bottom: 0; 
  margin-top: 0;
}

/* Page Name */
.page-name {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-right: auto;
  margin-left: 0px;
  text-align: center;
}

/* Navbar Center Section */
.nav-menu {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0;
  margin-top: 10px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 20px; 
  transition: transform 0.3s ease;
}

.nav-menu a:hover {
  transform: scale(1.1);
}

/* Active Link Styling */
.student-navigation-link.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0px;   /* Changed to Square */
  color: #ffffff;
  font-weight: bold;
  padding: 13px 12px;
}

/* Navbar Right Section */
.navbar-right {
  display: flex;
  align-items: center;
}

.student-userprofile {
  width: 20px;
  margin-right: 0px;
}

.d-block w-100{
  width: 35px;
  height: auto;
}

/* RESPONSIVENESS */
@media screen and (max-width: 1024px) {
  .nav-menu {
    gap: 10px;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    gap: 8px;
    flex-wrap: nowrap;
  }

  .student-userprofile {
    width: 20px;
  }
}
